<div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
  <div ng-repeat="comment in vm.comments" class="comment mdl-color-text--grey-700">
    <header class="comment__header">
      <img class="comment__avatar" height="48" width="48" ng-src="{{comment.createdBy.avatarUrl}}" alt="@{{comment.createdBy.username}}">
      <div class="comment__author">
        <strong>
          <a href="https://github.com/{{comment.createdBy.username}}" class="author">{{comment.createdBy.username}}</a>
        </strong>
        <span>
          <relative-time datetime="{{comment.createdDate}}">{{comment.createdDate | date:'mediumDate'}}</relative-time>
        </span>
      </div>
      <nav class="comment__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
        </button>
      </nav>
    </header>
    <div class="comment__text">
      <span>{{comment.body}}</span>
    </div>
    <hr>
  </div>
</div>
<div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
  <form name="vm.form" ng-submit="vm.submit(vm.clear)">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <textarea ng-model="vm.form.body" rows=5 class="mdl-textfield__input" id="comment" required></textarea>
      <label for="comment" class="mdl-textfield__label">Leave a comment</label>
    </div>
    <div>
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
        </button>
        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" ng-click="vm.getFile()">
        <i class="material-icons" role="presentation">add</i><span class="visuallyhidden">add file</span>
        </button>
    </div>
  </form>
  <input id="comment-file-input" style="visibility: hidden" ng-model="vm.form.file" onchange="angular.element(this).scope().vm.fileSubmit(this.files)" type="file" name="file">
</div>
